
  <html>

<head>
  <title>Handwritten Digit Recognizer </title>
  <link rel="icon" href="https://storage.googleapis.com/khanhlvg-public.appspot.com/digit-classifier/mnist.png">

  <meta name="viewport" content="width=device-width">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- css file -->
  <link rel="stylesheet" href="style2.css">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>

</head>

<body onload="init()">

<div class="header">
  <h1> <p class="fas fa-align-center    "> Digit Recognizer</p>
   </h1>
</div>


<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hello!</strong> write/draw with your mouse/finger a digit in the black screen below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div>
</br></br>
  <p>Draw with mouse pointer in the black screen from digit 0 to 9</p>
</div>


  <section id="content">
    <div id="sketchpadapp">

      <div class="row">
        <div class="leftside">

          <div class="">
            <canvas id="sketchpad" height="200" width="200">
            </canvas>
          </div>

          <div class="buttons_div">
          </br></br>
            <button type="button" onclick="clearRes()" class="btn btn-dark" id="clear_button">&nbsp Clear &nbsp</button>
            <button type="button" class="btn btn-dark" id="predict_button">&nbsp Guess &nbsp</button>
            
          </div>
        </div>

        <div class="predicted_answer col-sm-6">
          <h2 id="prediction_heading"> The digit is: </h2>
          <h1 id="result">-</h1>
          <p id="accuracy">Accuracy: </p>
        </div>
      </div>
    </div>
  </section>  

  <script src="script2.js" charset="utf-8"></script>

</body>

</html>

